body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
   font-size: xx-large;
}

.orange-color {
    color: rgb(248, 144, 8);
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    
}
.half-width img{
    padding-top: 10%;
    width: 85%;
    height: 80%;
}
#heading{
    padding-top: 5%;
}
.button{
    text-decoration: none; 
    background-image: linear-gradient(rgb(223, 105, 84),rgb(231, 81, 81));
    color: whitesmoke;
    font-weight: 700;
    font-size: large;
    padding: 10px 50px;
    border-radius: 7%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
#dreamBigSection{
    padding-top: 100px;
}
.dreambig{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.paragraph{
    text-align: justify;
    padding-right: 150px;
}
.xp-item{
    width: 50%;
    padding-left: 100px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 50px gray;
    border-radius: 2%;
    
}
.xpsection{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#fullstackdev{
    border-left: 10px solid tomato;
}
#babydev{
    border-left: 10px solid blue;

}
footer{
    text-align: center;
}